#Ignore everything
/*
!.gitignore


#IPs
!FQCLK/
FQCLK/*
!FQCLK/rtl/
FQCLK/rtl/*
!FQCLK/rtl/FQCLK.v

!RAM/
RAM/*
!RAM/rtl/
RAM/rtl/*
!RAM/rtl/RAM.v

#source
!source/
!source/impl_1

source/impl_1/iCE40_SWS.vhd.bak


